@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Index" asp-controller="Donations" class="btn btn-primary mb-2">Donations</a>
<a asp-action="Index" asp-controller="Disasters" class="btn btn-danger mb-2">Disasters</a>
<a asp-action="Index" asp-controller="BoughtGoods" class="btn btn-success mb-2">Brought Goods</a>